body {
  margin: 0;
  padding: 0;
}

.card-container {
  display: grid;
  outline: solid black;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cards {
  outline: solid red;
  text-align: center;
}

.x-tab {
  cursor: pointer;;
}